*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #080e19;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 10px;
}
input{
    padding: 8px 32px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-align: center;
}
button{
    font-size: 24px;
    border: none;
    border-radius: 50%;
    padding: 4px 10px;
    cursor: pointer;
}
.weather-icon{
    width: 50%;
    height: auto;
    margin-top: 50px;
}
.temperature{
    font-size: 44px;
    margin-top: 30px;
}
.city-name{
    margin-top: 15px;
    font-size: 35px;
}
footer{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
}
.details-container{
    display: flex;
    flex-direction: row;
}
.details-icon{
    width: 30%;
    height: auto;
}

/* Responsive */

@media (max-width: 380px){
    input{
        padding: 20px 10px;
    }
    .container{
        margin-top: 0;
        padding: 7px;
        border-radius: 0 0 10px 10px;
    }
}
@media (max-width: 300px){
    input{
        padding: 20px 0;
    }
    .container{
        margin-top: 0;
        padding: 3px;
        border-radius: 0 0 10px 10px;
    }
}